@charset "UTF-8";

body {
	background-image: url("../img/fondBook2.jpg");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

end {
	color: #fff;
}

#titreLogin {
	text-align: center;
	margin-top: 40px;
	font-size: 44px;
}

#container {
	width: 400px;
	height: 500px;
	margin-left: 33%;
	margin-top: 200px;
}

#containerCreaCompte {
	width: 400px;
	height: 500px;
	margin-left: 33%;
	margin-top: 100px;
}

input {
	background-color: #f8f5ed;
}

#direcBoite {
	display: flex;
	flex-direction: column;
}

.pseudo {
	pading: 15px;
	font-size: 25px;
}

.password, .nom, .nomLibraire, .adresse, .email, .telephone, .prenom {
	pading: 15px;
	font-size: 25px;
}

#submi {
	border-radius: 1px solid black;
	width: 125px;
	height: 50px;
	font-size: 25px;
	color: blue;
}

#boutonModif{
	font-size: 24px;
}


#nameAcc {
	Font-size: 25px;
	color: blue;
	text-align: center;
}

legend {
	background-color: black;
	color: #fff;
	padding: 3px 6px;
}

ul, a {
	text-decoration: none;
	list-style-type: none;
	font-size: 34px;
}

li {
	padding-bottom: 20px;
}

li a:hover, #submi:hover {
	color: red;
}